body{
    margin:0;
    padding:0;
}
@font-face {
    font-family: 'Handjet', cursive;
    src: url('../public/font/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf');
}
.Handjet{
    font-family: 'Handjet', cursive;
}
