.container{
    display: flex;
    border: 1px solid black;
}
.item{
    background-color: green;
    margin-right: 5px;
    border: 1px solid black;
}

/* start-felx  파트 css */
#start-flex  .container1{
    border: 1px solid black;
    display: flex;
}
#start-flex  .container2{
    border: 1px solid black;
    display: inline-flex;
}

/* flex-direction 파트 css */

#flex-direction > *{
    border: 1px solid black;
}

#flex-direction .row{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
#flex-direction .column{
    display: flex;
    flex-direction: column;
}
#flex-direction .row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
#flex-direction .column-reverse{
    display: flex;
    flex-direction: column-reverse;
}

/* flex-wrap css 파트  */
#flex-wrap > *{
    border: 1px solid black;
}

#flex-wrap{
    width: 120px;
}
#flex-wrap .nowrap{
    display: flex;
    flex-wrap: nowrap;
}
#flex-wrap .wrap{
    display: flex;
    flex-wrap: wrap;
}
#flex-wrap .wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
}

/* justify-content 파트 css */
#justify-content > *{
    border: 1px solid black;
}
#justify-content .flex-start{
    display: flex;
    justify-content: flex-start;
}
#justify-content .flex-end{
    display: flex;
    justify-content: flex-end; 
}
#justify-content .center{
    display: flex;
    justify-content: center;
}
#justify-content .space-between{
    display: flex;
    justify-content: space-between;
}
#justify-content .space-around{
    display: flex;
    justify-content: space-around;
}
#justify-content .space-evenly{
    display: flex;
    justify-content: space-evenly;
}

/* align-items css 파트 */
#align-items > *{
    border: 1px solid black;
    height: 40px;
}
#align-items .stretch{
    display: flex;
    align-items: stretch;
}
#align-items .flex-start{
    display: flex;
    align-items: flex-start;
}
#align-items .flex-end{
    display: flex;
    align-items: flex-end;
}
#align-items .center{
    display: flex;
    align-items: center;
}
#align-items .baseline{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.baseline > *{
    background-color: green;
}
.baseline .item3{
    font-size: 20px;
}
.baseline .item2{
    font-size: auto;
}
.baseline .item1{
    font-size: 5px;
}
