*{
    background-color: pink;
}
.flex-container{            
    display: flex;
    flex-direction: column;
    
}
nav {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 80px;
    align-items: center;
}
nav li {
    line-height: 80px;
    display: inline-block;
    margin: 0 8px;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
}
a.active,
a:hover {
    
    color:black;
}
.flex-item_middle{
    text-align: center;
    width: 100%;
    height: 800px;
    justify-content: center;
    background-color: aliceblue;
    border: 1px solid skyblue;
    align-self: center;
    font-size:200px;
    /*font-style:oblique;*/
    color:rgb(112, 79, 104);
}
.flex-item_bottom{
    text-align: center;
    width: 100%;
    height:200px;
    justify-content: center;
    background-color: aliceblue;
    border: 1px solid skyblue;
    align-self: center;
}