<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>소통방</title>
    
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- MDB -->
    <link rel="stylesheet" href="../public/css/mdb.min.css" />

    <link rel="stylesheet" href="../public/css/socket.css">
  </head>
  <body>
    <section style="background-color: #eee;">
        <div class="container py-5">
      
          <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
      
              <div class="card" id="chat1" style="border-radius: 15px;">
                <div
                  class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                  style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                  <i class="fas fa-angle-left"></i>
                  <p class="mb-0 fw-bold">Live chat</p>
                  <button id="room1" class="btn btn-primary w-20">Room1</button>
                </div>
                <div class="card-body" style="overflow-y: scroll; height: 60vh;" id="messageList">

                  <div class="d-flex flex-row justify-content-start mb-4">
                    <img src="../public/image/손석구.jpeg"
                      alt="avatar 1" style="width: 45px; height: 100%;">
                    <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                      <p class="small mb-0">Hello and thank you for visiting MDBootstrap. Please click the video
                        below.</p>
                    </div>
                  </div>
      
                  <div class="firstBox"></div>
      
                </div>
                
                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                    <input type="text" class="form-control form-control-lg" id="message"
                      placeholder="Type message">
                    <button id="sendMsg" class="ms-3 border-0 bg-white text-primary"><i class="fas fa-paper-plane"></i></button>
                    <button id="roomChat" class="ms-3 border-0 bg-white text-info"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
      
            </div>
          </div>
      
        </div>
      </section>

    <!-- MDB -->
    <script type="text/javascript" src="../public/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js" integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>
    //web socket 연결
    var socket = io();
    $('#sendMsg').click(function(){
        //서버에 데이터 보내기 emit(작명,메세지) 
        socket.emit('user-send',$('#message').val());
    })

    socket.on('broadcast',function(data){
        $('.firstBox').append(`
        <div class="d-flex flex-row justify-content-start mb-4">
                    <img src="../public/image/손석구.jpeg"
                      alt="avatar 1" style="width: 45px; height: 100%;">
                    <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                      <p class="small mb-0">${data}</p>
                    </div>
                  </div>
        `)
    })

    $('#room1').click(function(){
        console.log('click!');
        socket.emit('joinRoom1');
    })

    $('#roomChat').click(function(){
        socket.emit('roomChat',$('#message').val());
    })

    //메세지 스크롤을 맨아래로 위치시키게 함
    var messageList = document.getElementById('messageList');
    messageList.scrollTop = messageList.scrollHeight;
    </script>
  </body>
</html>
